In [1]:
print('Day 4')

Day 4

In [2]:
import numpy as np
import pandas as pd

In [3]:
url='https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'
dfs=pd.read_html(url)

In [4]:
dfs[0]

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
1,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
2,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
3,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539
4,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
...,...,...,...,...,...,...,...
562,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
563,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
564,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
565,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
566,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645

In [5]:
type(dfs)

list

In [11]:
#List Comprehension
lst=[1,2,3,4,5,6,7]

In [20]:
sqr=[i*i for i in lst]

In [21]:
print(sqr)

[1, 4, 9, 16, 25, 36, 49]

In [22]:
sqr2=[i*i for i in lst if i%2==0]

In [23]:
sqr2

[4, 16, 36]

In [26]:
sqr3 =[i*i for i in lst if i%2!=0]

In [27]:
sqr3

[1, 9, 25, 49]